<header class="header">
    <div class="logo" (click)="navigateToHome()">
        <img src="elearning.png" alt="logo" class="logo-img">
    </div>

    <nav class="nav">
        <a (click)="navigateToHome()"class="nav-item">Home</a>
        <a (click)="navigateToCourses()" class="nav-item">Courses</a>
        <a (click)="navigateToContact()" class="nav-item">Contact</a>
        <div class="search-container">
            <input
              type="text"
              class="search-input"
              placeholder="Search Courses"
              [(ngModel)]="searchQuery"
              (input)="onSearchChange()"
            />
            <ul class="search-suggestions" *ngIf="filteredCourses.length > 0">
              <li
                *ngFor="let course of filteredCourses"
                (click)="navigateToCourse(course.id)"
              >
                {{ course.title }}
              </li>
            </ul>
          </div>
        <div class="auth-buttons" *ngIf="isLoggedIn; else loggedOutTemplate">
            <button class="logout-btn" (click)="logout()">Logout</button>
        </div>

        <ng-template #loggedOutTemplate>
            <div class="auth-buttons">
                <button class="btn-login" (click)="navigateToLogin()">Login</button>
            </div>
        </ng-template>
    </nav>

   
</header>